<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name='author' content='Mostafa Asadi'>
	<meta name="twitter:card" content="summary">
	<meta property="og:type" content="website" />
	<meta property="og:title" content="صبوح" />
	<meta name="description" content="صبوح؛ می صبحگاهی را گویند">
	<meta property="og:description" content="صبوح؛ می صبحگاهی را گویند">
	<meta name="twitter:description" content="صبوح؛ می صبحگاهی را گویند">
	<meta name="keywords" content="صبوح,شعر,فال,بیت,شاعر,یک بیت,مصرع">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>صبوح</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/materialize-rtl.min.css') }}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<script src="https://kit.fontawesome.com/bed6a0991b.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body class="blue-grey lighten-5 rtl">
	<nav>
		<div class="nav-wrapper blue">
			<div class="container">
				<a href="/" class="brand-logo pf">صبوح</a>
				<ul class="left">
					<li>
						<a href="/"><i class="material-icons">refresh</i></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<main>
		<section>
			<br><br><br><br><br>
			<div class="container">
				<div class="row">
					<div class="col s12 center">
						<div class="card-panel red darken-3 pf">
							<div class="white-text">
								<h2>خطا؛ در این دایره سرگردانند</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</body>
<footer class="page-footer footer-copyright blue">
	<div class="container">
		<div class="grey-text text-lighten-4 right pf">
			قدرت گرفته از
			<a class="grey-text text-lighten-4 pf" href="http://ganjoor.net/">گنجور</a>
			و
			<a class="grey-text text-lighten-4 pf" href="https://fandogh.cloud/">فندق</a>
		</div>
		<a class="grey-text text-lighten-4 left" href="https://github.com/saboohan/1sabooh.ir">
			<i class="fab fa-github"></i>
		</a>
		<br><br>
	</div>
</footer>

</html>
