<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name='author' content='Mostafa Asadi'>
	<meta name="twitter:card" content="summary">
	<meta property="og:type" content="website" />
	<meta property="og:title" content="صبوح" />
	<meta name="description" content="صبوح؛ می صبحگاهی را گویند">
	<meta property="og:description" content="صبوح؛ می صبحگاهی را گویند">
	<meta name="twitter:description" content="صبوح؛ می صبحگاهی را گویند">
	<meta name="keywords" content="صبوح,شعر,فال,بیت,شاعر,یک بیت,مصرع">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>صبوح |‌ شب رفت و صبوح آمد</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="https://cdn.rawgit.com/rastikerdar/vazir-font/v20.1.1/dist/font-face.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body dir="rtl" onload="getMode()">
	<header class="pt-3">
		<ul class="nav nav-pills nav-justified">
			<li class="nav-item">
				<button onclick="change()" class="light-btn">
					<img src="{{ url_for('static', filename='img/light.png') }}">
				</button>
			</li>
			<li class="nav-item">
				<img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" height="75">
			</li>
			<li class="nav-item">
				<form action="/" method="POST" class="form-check-inline select-poet">
					<select name="poet" class="form-control">
						<option value="1" disabled selected>برای همیشه شاعری انتخاب کنید</option>
						{% for num, poet in poets.items() %}
						{% if num == fav_poet %}
						<option selected="selected" value={{ num }}>{{ poet }}</option>
						{% else %}
						<option value={{ num }}>{{ poet }}</option>
						{% endif %}
						{% endfor %}
					</select>
					<button type="submit" class="btn-submit">
						<img src="{{ url_for('static', filename='img/done-tick.png') }}" height="18" />
					</button>
				</form>
			</li>
		</ul>
	</header>
	<main class="main">
		<poem>
			{{ poem['m1'] }}
			<br>
			{{ poem['m2'] }}
		</poem>
		<poet><a target="_blank" href="{{ poem['url'] }}">{{ poem['poet'] }}</a></poet>
	</main>
	<footer class="footer mt-auto py-3 ">
		<div>
			<p>قدرت گرفته از <a href="https://ganjoor.net/" target="_blank"> گنجور</a> و <a target="_blank" href="https://fandogh.cloud">فندق</a></p>
			<p><a href="https://github.com/saboohan/" target="_blank">مشارکت در پروژه</a></p>
		</div>
	</footer>
	<script>
		document.body.classList.add('day');

		function change() {
			document.body.classList.toggle('night');
			document.body.classList.toggle('day');

			var Mode = document.body.className;
			document.cookie = "mode=" + Mode;
		}

		function getMode() {
			var name = "mode=";
			var decodedCookie = decodeURIComponent(document.cookie);
			var ca = decodedCookie.split(';');
			for (var i = 0; i < ca.length; i++) {
				var c = ca[i];
				while (c.charAt(0) == ' ') {
					c = c.substring(1);
				}
				if (c.indexOf(name) == 0) {
					var userMode = c.substring(name.length, c.length);
					document.body.classList.toggle(userMode);
				}
			}
			return "";
		}
	</script>
</body>

</html>
