<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name='author' content='Mostafa Asadi'>
	<meta name="twitter:card" content="summary">
	<meta property="og:type" content="website" />
	<meta property="og:title" content="صبوح" />
	<meta name="description" content="صبوح؛ می صبحگاهی را گویند">
	<meta property="og:description" content="صبوح؛ می صبحگاهی را گویند">
	<meta name="twitter:description" content="صبوح؛ می صبحگاهی را گویند">
	<meta name="keywords" content="صبوح,شعر,فال,بیت,شاعر,یک بیت,مصرع">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>صبوح</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/materialize-rtl.min.css') }}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<script src="https://kit.fontawesome.com/bed6a0991b.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>

<body class="blue-grey lighten-5 rtl">
	<nav class="nav-extended">
		<div class="nav-wrapper blue">
			<div class="container">
				<a href="/" class="brand-logo pf">صبوح</a>
				<div style="padding-top: 1em;" class="nav-content center">
					<form action="/setcookie" method="POST" class="nav-title">
						<div class="input-field rtl pf inline">
							<select name="poet">
								<option value="1" disabled selected>برای همیشه شاعری انتخاب کنید</option>
								<option value="1">همه شاعران</option>
								<option value="2">حافظ</option>
								<option value="3">خیام</option>
								<option value="5">مولوی</option>
								<option value="7">سعدی</option>
								<option value="19">اوحدی</option>
								<option value="20">خواجو</option>
								<option value="21">عراقی</option>
								<option value="22">صائب</option>
								<option value="25">هاتف اصفهانی</option>
								<option value="26">ابوالسعید ابوالخیر</option>
								<option value="28">باباطاهر</option>
								<option value="29">محتشم کاشانی</option>
								<option value="31">سیف فرغانی</option>
								<option value="32">فروغی بسطامی</option>
								<option value="33">عبید زاکانی</option>
								<option value="34">امیرخسرو دهلوی</option>
								<option value="35">شهریار</option>
								<option value="40">سلمان ساوجی</option>
								<option value="41">رهی معیری</option>
							</select>
						</div>
						<button type="submit" style="background: none; padding: 0px; border: none;">
							<i class="material-icons white-text">done</i>
						</button>
					</form>

				</div>
			</div>

		</div>
	</nav>
	<main>
		<section style="padding-top:3vw;">
			<div class="container">
				<div class="row">
					<div class="col s12 center">
						<div class="card-panel green darken-3 pf">
							<div class="white-text">
								<h3>{{ poem['m1'] }}</h3>
								<h3>{{ poem['m2'] }}</h3>
							</div>
							<a href="{{ poem['url'] }}" target="_blank">
								<h5 class="pf white-text">
									{{ poem['poet'] }}
								</h5>
							</a>
						</div>
					</div>
					<script type="text/javascript">
						document.addEventListener('DOMContentLoaded', function() {
							var options = document.querySelectorAll('option');
							var elems = document.querySelectorAll('select');
							var instances = M.FormSelect.init(elems, options);
						});
					</script>

				</div>
			</div>
			</div>
		</section>
	</main>
</body>
<footer class="page-footer footer-copyright blue">
	<div class="container">
		<div class="grey-text text-lighten-4 right pf">
			قدرت گرفته از
			<a class="grey-text text-lighten-4 pf" href="http://ganjoor.net/">گنجور</a>
			و
			<a class="grey-text text-lighten-4 pf" href="https://fandogh.cloud/">فندق</a>
		</div>
		<a class="grey-text text-lighten-4 left" href="https://github.com/saboohan/1sabooh.ir">
			<i class="fab fa-github"></i>
		</a>
		<br><br>
	</div>
</footer>

</html>
